body {
  background-color: rgb(227, 246, 255);
}

#color-pallet {
  height: 70vh;
  display: grid;
  grid-template-columns: 16% 16% 16% 16% 16% 16%;
  column-gap: 10px;
}

#control-panel {
  margin-top: 10px;
  text-align: center;
}

#randomize-color-btn {
  width: 150px;
  height: 50px;
  font-family: Georgia, serif;
  font-size: 20px;
  border-radius: 20px;
  color: white;
}

.color-div {
  margin-top: 20px;
  display: grid;
  justify-items: center;
  border: 1px black solid;
}

.color-info {
  align-self: end;
  text-align: center;
  width: 50%;
  height: 50px;
  background-color: white;
  font-family: Georgia, serif;
  margin: 0 10px 30px 10px;
  padding: 5px 0 5px 0;
  border-radius: 10px;
}
